#next-btn,
#submit-btn,
#next-btn {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  cursor: pointer;
  display: block;
  margin: 0px 200px 10px 200px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
}

ul li.active {
  background-color: #000;
  color: #fff;
}

ul li.selected {
  background-color: #000;
  color: #fff;
}

.feedback {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.scoreboard {
  font-size: 18px;
  margin-top: 10px;
}

#start-btn {
  display: block;
  margin: auto;
  margin-top: 20vh;
}

#leave-btn {
  display: block;
  margin: auto;
  margin-top: 20vh;
}

h2 {
  text-align: center;
}
